[submodule "pkg/dwm"]
	path = pkg/dwm
	url = git@github.com:edclements/dwm-archlinux.git
[submodule "pkg/hedaleth-base"]
	path = pkg/hedaleth-base
	url = git@github.com:edclements/hedaleth-base-archlinux.git
